:root {
    --main-color: #deb9a7;
    --input-color: #eeded2;
    --input-focus-color: #98796e;
    --valid-input: #91da91;

    --button-color: #5aaad8;
    --button-hover: #4b93bd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Ubuntu";
}

body {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
}

.wrapper {
    margin: 65px auto;
    display: flex;
    width: 1000px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    height: 800px;
}

.img-wrapper {
    min-width: 500px;
    position: relative;
}

.side-image {
    width: 500px;
    height: 800px;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 140px;
}

.form-wrapper {
    max-width: 500px;
    text-align: center;
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    background-color: var(--main-color);
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
}

fieldset {
    border-style: none;

    font-size: 24px;
    letter-spacing: 1px;
}

legend {
    margin-bottom: 12px;
}

label, input {
    display: block;
}

label {
    font-size: 12px;
    margin-bottom: 3px;
}

input {
    width: 200px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 5px;
    padding-left: 3px;

    border: 2px solid var(--input-color);
    border-radius: 3px;
}

button {
    background-color: var(--button-color);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 130px;

    border: 0 none;
    border-radius: 7px;

    font-size: 20px;
    color: white;
    letter-spacing: 1px;
}

.log-in-page {
    font-size: 15px;
}

.log-in {
    text-decoration: none;
}

/*Validation*/
input:focus.valid {
    outline-color: var(--valid-input);
}

/*Pseudo-classes*/
input:focus {
    outline-color: var(--input-focus-color);
}

button:hover {
    background-color: var(--button-hover);
}