:root {
    --main-color: #deb9a7;
    --input-color: #eeded2;
    --input-focus-color: #98796e;
    --valid-input: #91da91;

    --button-color: #5aaad8;
    --button-hover: #4b93bd;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
    box-sizing: border-box;
}

body {
    background-image: url('./pics/login.jpg');
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.caption {
    position: absolute;
    bottom: 0;
}

.wrapper {
    margin: 40px auto;
    height: 800px;
    width: 500px;
    background-color: var(--main-color);
    border-radius: 10px;
}

.wrapper-content {
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    letter-spacing: 2px;
    color: white;
    text-shadow: 2px 2px black;
}

