:root {
    --main-color: #deb9a7;
    --input-color: #eeded2;
    --input-focus-color: #98796e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Ubuntu";
}

body {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
}

.wrapper {
    margin: 90px auto;
    display: flex;
    width: 1000px;
    background-color: white;
    border-radius: 10%;
    overflow: hidden;
    height: 700px;
}

.img-wrapper {
    position: relative;
}

img {
    max-width: 500px;
    height: 700px;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 140px;
}

.form-wrapper {
    text-align: center;
    margin: 80px auto;
}

fieldset {
    border-style: none;
}

legend {
    font-size: 30px;
    margin-bottom: 30px;

    color: rgb(36, 35, 35);
}


input, label {
    display: block;
    margin-top: 5px;
    font-size: 15px;

    color: rgb(36, 35, 35);
}

input {
    border: 2px solid var(--input-color);
    height: 30px;
    border-radius: 4px;
    width: 280px;
    padding: 3px;
}

button {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 20px;
    border-style: none;
    padding: 10px;
    border-radius: 10px;
    
    background-color: #196781;
    color: rgb(255, 255, 255);
}

.log-in-page {
    font-size: 15px;
}

/*Psuedo-classes*/

input:focus {
    outline-color: var(--input-focus-color);
}

button:hover {
    background-color: #15566b;
}